// color variables
$color-white: #FFFFFF;
$color-black: #000000;

// light blue pallete
$color-light-blue: #03A9F4;
$color-light-blue-lighten-1: #29B6F6;
$color-light-blue-lighten-2: #4FC3F7;
$color-light-blue-lighten-3: #81D4FA;
$color-light-blue-lighten-4: #B3E5FC;
$color-light-blue-lighten-5: #E1F5FE;

$color-light-blue-darken-1: #039BE5;
$color-light-blue-darken-2: #0288D1;
$color-light-blue-darken-3: #0277BD;
$color-light-blue-darken-4: #01579B;

$color-light-blue-accent-1: #80D8FF;
$color-light-blue-accent-2: #40C4FF;
$color-light-blue-accent-3: #00B0FF;
$color-light-blue-accent-4: #0091EA;
